* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #111827;
}

/* Typography */
header {
  padding-top: 2em;
  margin-bottom: 3.125em;
}
h1 {
  font-size: 4.5rem;
  color: #ffffff;
}

.announcement {
  margin-bottom: 2.5em;
}

.player-announcement {
  color: #ffffff;
  font-size: 2.2rem;
}

.wrapper {
  display: grid;
  gap: 0.625em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: min(90vw, 450px);
  height: min(90vw, 450px);
  margin-bottom: 3em;
}

.cells {
  background: none;
  border: none;
  border-radius: 50%;
  background-color: #28a9f1;
  color: #04131c;
  font-size: 3.75rem;
}

.game-btn {
  background: none;
  border: none;
  background-color: #04131c;
  color: #ffffff;
  border: 0.188em solid #28a9f1;
  border-radius: 0.5em;
  padding: 0.625em 1.25em;
  font-size: 2rem;
  font-weight: bold;
}

.btn-container {
  margin-bottom: 5em;
}

/* Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 4.2rem;
  }

  .player-announcement {
    font-size: 2rem;
  }

  .game-btn {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 3.5rem;
  }

  .player-announcement {
    font-size: 1.8rem;
  }
  .game-btn {
    font-size: 1.6rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 3.8rem;
  }

  .announcement {
    margin-bottom: 1em;
  }
  .player-announcement {
    font-size: 2rem;
  }

  .game-btn {
    font-size: 1.5rem;
  }
}
